# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.lock

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/.gradle/
android/local.properties
android/key.properties
**/*.keystore
**/*.jks

# Environment
.env
lib/core/config/app_config_local.dart

# IDE
.idea/
*.iml
.vscode/
